body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imagen_producto {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.botones_de_pago div.BotonCheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.ButtonCart {
  background-color: #009ee3;    
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto; 
  display: block; 
}